@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uolsc0');
  src:  url('fonts/icomoon.eot?uolsc0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uolsc0') format('truetype'),
    url('fonts/icomoon.woff?uolsc0') format('woff'),
    url('fonts/icomoon.svg?uolsc0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic_"], [class*=" ic_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_fb:before {
  content: "\e905";
}
.ic_inst:before {
  content: "\e906";
}
.ic_twitter:before {
  content: "\e907";
}
.ic_arrow-right:before {
  content: "\e900";
}
.ic_arrow-left:before {
  content: "\e901";
}
.ic_cart:before {
  content: "\e902";
}
.ic_heart:before {
  content: "\e903";
}
.ic_search:before {
  content: "\e904";
}
