@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@400;700&display=swap');

:root {
  --header-text: #555248;
  --main-text: #1b1a17;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 84px;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 100px;
}

.menu__item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: var(--header-text);
}
.menu__item:not(:last-child) {
  margin-right: 68px;
}
.items {
  display: flex;
  gap: 23px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  color: var(--main-text);
}
.item__heart {
  position: relative;
}
.item__heart > div {
  background-color: #e6c8b4;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 13px;
  height: 13px;
  font-size: 8px;
  top: -5px;
  right: -5px;
}

.first-screen {
}
.container {
}
.first-screen__offer {
}
.line {
}
.first-screen__title {
}
.second__title {
}
.first-screen__description {
}
.button {
}
.button_dark {
}
.first-screen__product {
}
.price-block {
}
.watch_price {
}
.watch-block {
}
.watch_about {
}
